streamlit==1.52.2

torch==2.2.2
torchvision==0.17.2

transformers==4.41.2
sentencepiece==0.2.0
safetensors
tokenizers

ultralytics==8.3.241
ultralytics-thop

opencv-python-headless==4.9.0.80
pillow==10.3.0
numpy==1.26.4

arabic-reshaper==3.0.0
python-bidi==0.6.7

reportlab==4.2.0

tqdm

lime
scikit-image
scikit-learn
shap
