streamlit>=1.31
torch
torchvision
transformers>=4.36
ultralytics>=8.0.200
opencv-python-headless
numpy
Pillow
arabic-reshaper
python-bidi
reportlab
sentencepiece==0.2.0
lime
scikit-image
shap
